In [1]:
import pandas as pd
df = pd.read_csv("rough.csv")
df

         days  event  temperature  windspeed
0  01-01-2017   rain           32          6
1  02-01-2017  sunny           35          7
2  03-01-2017   snow           28          2
3  04-01-2017   snow           24          7
4  05-01-2017   rain           32          4
5  06-01-2017  sunny           31          2

In [2]:
df.head()

         days  event  temperature  windspeed
0  01-01-2017   rain           32          6
1  02-01-2017  sunny           35          7
2  03-01-2017   snow           28          2
3  04-01-2017   snow           24          7
4  05-01-2017   rain           32          4

In [3]:
df.tail()

         days  event  temperature  windspeed
1  02-01-2017  sunny           35          7
2  03-01-2017   snow           28          2
3  04-01-2017   snow           24          7
4  05-01-2017   rain           32          4
5  06-01-2017  sunny           31          2

In [4]:
df.tail(2)

         days  event  temperature  windspeed
4  05-01-2017   rain           32          4
5  06-01-2017  sunny           31          2

In [5]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [6]:
df.columns

Index(['days', 'event', 'temperature', 'windspeed'], dtype='object')

In [7]:
df['days']

0    01-01-2017
1    02-01-2017
2    03-01-2017
3    04-01-2017
4    05-01-2017
5    06-01-2017
Name: days, dtype: object

In [9]:
df[['days', 'event']]

         days  event
0  01-01-2017   rain
1  02-01-2017  sunny
2  03-01-2017   snow
3  04-01-2017   snow
4  05-01-2017   rain
5  06-01-2017  sunny

In [10]:
df['temperature'].max()

35

In [11]:
df['temperature'].min()

24

In [12]:
df['temperature'].std()

3.8297084310253524

In [13]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [14]:
df[df.temperature>=32]

         days  event  temperature  windspeed
0  01-01-2017   rain           32          6
1  02-01-2017  sunny           35          7
4  05-01-2017   rain           32          4

In [16]:
df[df.temperature == df.temperature.max()]

         days  event  temperature  windspeed
1  02-01-2017  sunny           35          7

In [19]:
df['days'][df.temperature == df.temperature.max()]

1    02-01-2017
Name: days, dtype: object

In [20]:
df[['days', 'temperature']][df.temperature == df.temperature.max()]

         days  temperature
1  02-01-2017           35

In [22]:
df.set_index('days', inplace = True)
df

            event  temperature  windspeed
days
01-01-2017   rain           32          6
02-01-2017  sunny           35          7
03-01-2017   snow           28          2
04-01-2017   snow           24          7
05-01-2017   rain           32          4
06-01-2017  sunny           31          2

In [23]:
df.loc['03-01-2017']

event          snow
temperature      28
windspeed         2
Name: 03-01-2017, dtype: object

In [24]:
df.reset_index(inplace=True)
df

         days  event  temperature  windspeed
0  01-01-2017   rain           32          6
1  02-01-2017  sunny           35          7
2  03-01-2017   snow           28          2
3  04-01-2017   snow           24          7
4  05-01-2017   rain           32          4
5  06-01-2017  sunny           31          2

In [25]:
df.set_index('event', inplace=True)

In [26]:
df

             days  temperature  windspeed
event
rain   01-01-2017           32          6
sunny  02-01-2017           35          7
snow   03-01-2017           28          2
snow   04-01-2017           24          7
rain   05-01-2017           32          4
sunny  06-01-2017           31          2

In [27]:
df.loc['snow']

             days  temperature  windspeed
event
snow   03-01-2017           28          2
snow   04-01-2017           24          7